<% provide(:title, "News") %>
<div class="page-div">
    <div id="news-div">
        <div class="banner-img-div-500">
            <img src="/assets/banners/about.jpg" alt="Home image:" class="banner-img">
            <h4 class="banner-text">NEWS</h4>
        </div>

        <div class="news-div">
            <h5 class="news-title">News #1</h5>
            <p class="news-content">News will be coming shortly._______________News will be coming shortly.</p>
        </div>

        <div class="news-div">
            <h5 class="news-title">News #2</h5>
            <p class="news-content">News will be coming shortly._______________News will be coming shortly.</p>
        </div>

        <div class="news-div">
            <h5 class="news-title">News #3</h5>
            <p class="news-content">News will be coming shortly._______________News will be coming shortly.</p>
        </div>

        <div class="news-div">
            <h5 class="news-title">News #4</h5>
            <p class="news-content">News will be coming shortly._______________News will be coming shortly.</p>
        </div>

        <div class="news-div" id="last-news-div">
            <h5 class="news-title">News #5</h5>
            <p class="news-content">News will be coming shortly._______________News will be coming shortly.</p>
        </div>
    </div>
    <div class="prefooter"></div>
</div>


