<% provide(:title, "") %>
    <div class="banner-img-div-500">
            <%#
            <img src="/assets/home.jpg" alt="Home page image" class="banner-img">

            <iframe id="home-iframe" src='https://www.youtube.com/embed/BesdMwVDRn0?autoplay=1' frameborder='0' allowfullscreen></iframe>
            %>
        <video id="home-iframe" autoplay loop preload>
            <source src="/assets/coeus_landing_video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="w-100p">
        <div class="div-75cp pt-80 pb-40">
            <h1 class="text-center"><i>COEUS</i>, develops integrated, intelligent, strategic, and sustainable technologies into commercially viable solutions for today.</h1>
            <p><b><i>COEUS</i></b>, is a leading integrator, creating a responsible and diverse future, that is economically scalable, with an immediate global impact, increasing firm sustainable energy, food, water self-sufficiency and social well-being.</p>
        </div>

        <div class="h-150">
            <div class="div-6-25">
            </div>
            <div class="div-17-5">
                <div class="h-70p">
                    <img class="gimage_img" src="assets/gpower">
                </div>
                <div class="h-30p">
                    <h3 class="gimage-h3">Green power 24/7</h3>
                </div>
            </div>
            <div class="div-17-5">
                <div class="h-70p">
                    <img class="gimage_img" src="assets/gbattery">
                </div>
                <div class="h-30p">
                    <h3 class="gimage-h3">Powering communities</h3>
                </div>
            </div>
            <div class="div-17-5">
                <div class="h-70p">
                    <img class="gimage_img"  src="assets/gbiofuel">
                </div>
                <div class="h-30p">
                    <h3 class="gimage-h3">Powering cars</h3>
                </div>
            </div>
            <div class="div-17-5">
                <div class="h-70p">
                    <img class="gimage_img"  src="assets/grecycle">
                </div>
                <div class="h-30p">
                    <h3 class="gimage-h3">Food security</h3>
                </div>
            </div>
            <div class="div-17-5">
                <div class="h-70p">
                    <img class="gimage_img" src="assets/gatom">
                </div>
                <div class="h-30p">
                    <h3 class="gimage-h3">Organic production</h3>
                </div>
            </div>
            <div class="div-6-25">
            </div>
        </div>

        <div class="div-75cp pb-80 pt-40">
            <p><b><i>COEUS</i></b> and its strategic partnerships and joint ventures solely focused on integrating intelligent technologies into commercially scalable solutions for today.   COEUS is currently focusing on bio-combustion and pelletizing solutions in California and Hawaii, with the goal to create renewable power 24 hours a day, while strengthening regional diversified agronomical growth plans, ensuring  food security, and increasing green jobs for agriculture, energy, natural resources and related industries.</p>
        </div>

    </div>

    <div id="integration-div">

        <div class="banner-img-div-500">
            <img src="/assets/d.jpg" class="banner-img" id="second-home-image">
            <h4 class="banner-text">INTELLIGENT INTEGRATION</h4>
        </div>
        <h1 class="mboth-0 pt-50 div-75cp" id="home-wwd">What We Do</h1>
        <div class="div-75cp pt-30 pb-40">
            <p><b><i>COEUS</i></b> and its strategic partners with over a century of experience, have intelligently developed, sustainable farming practices, multi-diverse mechanization, and viable industrialization techniques, resulting in unparalleled economic potential. Sustainability and environmental stewardship are core to the culture of <i>COEUS</i>, and its intelligent technology solutions.</p>
            <p>Together with our partners, we have successfully integrated sustainable bio-pellet solutions that achieve water, food and energy security, while protecting the ecosystems where it is grown and deployed. Incorporating our bio-pellets for power generation reduces both particulate and greenhouse gas emissions, reducing 13,800 barrels of oil for each 8,300 MT of bio-pellets generating one MW of electricity. Bio-pellets, also offers regions of the world, that are not logistically suitable in producing bioenergy crops, a viable alternative solution to meet their energy needs.</p>
        </div>
        <div class="ii-box div-95cp pb-90 pt-60">
            <div class="div-40">
                <div class="div-75cp">
                    <h1 class="gwords-h1">Firm Renewable Power Production</h1>
                    <img class="gwords-img pt-20" src="assets/ghomeswords.png">
                </div>
            </div>
            <div class="div-60">
                <p class="mpboth-0 div-80cp"><b><i>COEUS</i></b> has developed an integrated sustainable power solution, that is economically viable, for specific regions of the US renewable energy marketplace.  These strategic locals, are typically petroleum reliant and subject to market volatility that provides energy instability.</p>
                <p class="div-80cp">There are thousands of economically successful dedicated firm biomass combustion facilities around the world spanning the entire range of combustion configurations, feedstocks sources (single dedicated feedstock, to multi-fuel), and scale (individual domestic to large commercial facilities powering millions of homes).</p>
            </div>
        </div>
        <div class="ii-box div-95cp pb-80">
            <div class="div-40">
                <div class="div-75cp">
                    <h1 class="mpboth-0 gwords-h1">Bio-Pellets</h1>
                    <img class="gwords-img pt-80" id="gbiopellets" src="assets/gbiopellets.png">
                </div>
            </div>
            <div class="div-60">
                <p class="mpboth-0 div-80cp"><i>COEUS</i> has developed bio-pellets that are both sustainable and economically competitive. Pelletization allows for a large  distribution radius to service co-fired biomass customers, where it is not possible to achieve a scalable production level of biomass.  This will enable restrictive regions of the US and its territories to achieve energy security by displacing 13,800 barrels of oil/yr, for every MW of power that local may demand.</p>
                <p class="div-80cp">We have identified the Asian marketplace as our target region, for bio-pellet growth. Two facilities in particular are set to grow by 400% to 1M tons within two years. Another facility plans to increase its use of wood-based fuel, from around 250,000 tons a year in 2016, to 1.2 million tons within two years.  The region overall is projected to grow exponentially due to strict governmental regulations, limiting nuclear and coal power production from the Asian Pacific region.</p>
            </div>
        </div>

        <div class="ii-box div-95cp pb-80">
            <div class="div-40">
                <div class="div-75cp">
                    <h1 class="mpboth-0 gwords-h1">Grain</h1>
                    <img class="gwords-img pt-80" id="gbulbwords" src="assets/gbulbwords.png">
                </div>
            </div>
            <div class="div-60">
                <p class="mpboth-0 div-80cp"><i>COEUS</i> together with its strategic partners can produce a dual purpose feedstock that can provide energy and food security, by expand livestock, poultry and swine operations.  Today these costs are prohibitive to operate these industries due to logistical feed costs.  Biodiverse crops and pelletizing when applicable allow for these markets to grow, where otherwise they could not.</p>
            </div>
        </div>

    </div>
