<% provide(:title, "") %>
    <div class="home-banner-img-div-500">
        <video id="home-iframe" autoplay loop preload>
            <source src="https://s3.us-east-2.amazonaws.com/coeusdevllc/coeus_landing_video.mp4" type="video/mp4">
            <source src="https://s3.us-east-2.amazonaws.com/coeusdevllc/coeus_landing_video.ogg" type="video/ogg">
        </video>
    </div>

    <div class="div-80cp pt-60 pb-40">
        <h1 class="text-center"><b><i>COEUS</i></b> develops vertically integrated, intelligent, strategic, and sustainable technologies into commercially viable solutions for today.</h1>
        <p class="pt-40"><b><i>COEUS</i></b> is creating a responsible and diverse future for communities across the world, increasing access to firm renewable energy, protecting food production and water self-sufficiency, and ensuring social well-being.</p>
    </div>

    <div class="div-90cp">
        <div class="pt-10 div-50 float-left">
            <div class="div-25">
                <img class="gimage_img" id="gimage_greenpower" src="assets/svg/greengraphics/svg_lightbulb.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="div-65">
                <h1 class="mboth-0">On-demand Green Energy</h1>
                <h3 class="gimage-h3 mt-0">Firm renewable power is available on-demand, powering communities 24/7</h3>
            </div>
        </div>

        <div class="pt-10 div-50 float-left">
            <div class="div-25">
                <img class="gimage_img" id="gimage_greenpower" src="assets/svg/greengraphics/svg_greenpower.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="div-65">
                <h1 class="mboth-0">Solid Biofuels for Export</h1>
                <h3 class="gimage-h3 mt-0">Solid biofuels allow communities to import renewable power, and cease reliance on other sources such as LNG or diesel</h3>
            </div>
        </div>
    </div>
    <div class="div-90cp">
        <div class="pt-40 div-50 float-left">
            <div class="div-25">
                <img class="gimage_img" id="gimage_greenpower" src="assets/svg/greengraphics/svg_biofuel.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="div-60">
                <h1 class="mboth-0">Liquid Biofuels</h1>
                <h3 class="gimage-h3 mt-0">Ethanol derived from biofuels contribute to the gasoline blend and also power ethanol powered vehicles</h3>
            </div>
        </div>
        <div class="pt-40 div-50 float-left">
            <div class="div-25">
                <img class="gimage_img" id="gimage_greenpower" src="assets/svg/greengraphics/svge_sun.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="div-60">
                <h1 class="mboth-0">Sustainability</h1>
                <h3 class="gimage-h3 mt-0">Water efficient crops and a grain byproduct
                help ensure local food and water security</h3>
            </div>
        </div>
    </div>


    <%#
    <div class="h-250 div-90cp pt-40">
        <div class="div-15 mr-5">
            <div class="h-70p">
                <img class="gimage_img" id="gimage_greenpower" src="assets/svg/greengraphics/svg_greenpower.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="h-30p">
                <h3 class="gimage-h3 mt-30">Firm renewable power is available on-demand, powering communities 24/7</h3>
            </div>
        </div>
        <div class="div-15 mr-5">
            <div class="h-70p">
                <img class="gimage_img" id="gimage_lb" src="assets/svg/greengraphics/svg_lightbulb.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="h-30p">
                <h3 class="gimage-h3 mt-30">Solid biofuels allow communities to import renewable power, and cease reliance on other sources such as LNG or diesel</h3>
            </div>
        </div>
        <div class="div-15 mr-5">
            <div class="h-70p">
                <img class="gimage_img" id="gimage_biofuel"  src="assets/svg/greengraphics/svg_biofuel.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="h-30p">
                <h3 class="gimage-h3 mt-30">Ethanol derived from biofuels contribute to the gasoline blend and also power ethanol powered vehicles</h3>
            </div>
        </div>
        <div class="div-15">
            <div class="h-70p">
                <img class="gimage_img"  src="assets/svg/greengraphics/svge_sun.svg" alt="http://www.freepik.com/free-vector/icons-about-ecology-hand-drawn_1012392.htm Designed by Freepik">
            </div>
            <div class="h-30p">
                <h3 class="gimage-h3 mt-30">Water efficient crops and a grain byproduct
                help ensure local food and water security</h3>
            </div>
        </div>
    </div>
    #%>

    <div class="div-80cp pb-70 pt-35">
        <p class="fs-16"><b><i>COEUS</i></b> and its strategic partnerships and joint ventures solely focused on integrating intelligent technologies into commercially scalable solutions for today. <b><i>COEUS</i></b> is currently focusing on bio-combustion and pelletizing solutions in California and Hawaii, with the goal to create renewable power 24 hours a day, while strengthening regional diversified agronomical and renewable energy growth plans, ensuring  food security, and increasing green jobs for agriculture, energy, natural resources and related industries.</p>
    </div>



    <div class="div-90cp">
        <h1 class="mboth-0 div-60cp bgcolor-w mb-20" id="ii-h1">INTELLIGENT INTEGRATION</h1>

        <div class="div-30">
            <img src="/assets/sfield.jpg" class="ii-sfield-img home-ii">
        </div>
        <div class="div-5">
                <img src="/assets/svg/arrow.svg" class="svg-arrow">
        </div>
        <div class="div-30">
            <img src="/assets/banners/integration_banner.jpg" class="ii-ind-img home-ii">
        </div>
        <div class="div-5">
            <img src="/assets/svg/arrow.svg" class="svg-arrow">
        </div>
        <div class="div-30">
            <img src="/assets/cargo.jpg" class="ii-log-img home-ii">
        </div>
    </div>

        <h1 class="mboth-0 pt-40 div-75cp" id="home-wwd-h1">What We Do</h1>
        <div class="div-80cp pt-10 pb-40">
            <p class="fs-15"><b><i>COEUS</i></b> and its strategic partners with over a century of experience, have intelligently developed, sustainable farming practices, multi-diverse mechanization, and viable industrialization techniques, resulting in unparalleled economic potential. Sustainability and environmental stewardship are core to the culture of <b><i>COEUS</i></b>, and its intelligent technology solutions.</p>
            <p class="fs-15">Together with our partners, we have successfully integrated sustainable bio-pellet solutions that achieve water, food and energy security, while protecting the ecosystems where it is grown and deployed. Incorporating our bio-pellets for power generation reduces both particulate and greenhouse gas emissions, reducing 13,800 barrels of oil for each 8,300 MT of bio-pellets generating one MW of electricity. Bio-pellets, also offers regions of the world, that are not logistically suitable in producing bioenergy crops, a viable alternative solution to meet their energy needs.</p>
        </div>
        <div class="bgcolor-w div-85cp pb-70 pt-60">
            <div>
                <h1 class="gwords-h1">Firm Renewable Power Production</h1>
            </div>
            <div class="div-40">
                <div class="pt-20">
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_biomass1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_bulb1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_plant1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_plant2.jpg">
                    </div>
                </div>
            </div>
            <div class="div-60">
                <p class="pt-20 fs-15 ml-10"><b><i>COEUS</i></b> has developed a sustainable, integrated renewable energy closed-circle solution, that is economically viable for specific regions of the US and its territories. These strategic locales, are typically petroleum reliant and subject to market volatility that provides energy instability.</p>
                <p class="fs-15 ml-10">There are thousands of economically successful dedicated firm biomass combustion facilities around the world spanning the entire range of combustion configurations, feedstocks sources (single dedicated feedstock, to multi-fuel), and scale (individual domestic to large commercial facilities powering millions of homes).</p>
            </div>
        </div>
        <div class="div-85cp pb-20">
            <div>
                <h1 class="gwords-h1">Solid Biofuel</h1>
            </div>
            <div class="div-40">
                <div class="pt-20">
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_electricity1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_wood1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_pellets.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_plant3.jpg">
                    </div>
                </div>
            </div>
            <div class="div-60">
                <p class="ml-10 pt-20 mt-0 fs-15"><b><i>COEUS</i></b> has developed a vertically integrated solid biofuel solution that is both sustainable and economically competitive. Pelletization allows for a large distribution radius to service co-fired biomass customers, where it is not possible to achieve a scalable production level of biomass. This will enable restrictive regions of the US and its territories to achieve energy security by displacing 13,800 barrels of oil/yr., for every MW of power that a locality may demand.</p>
                <p class="fs-15 ml-10">We have identified the Asian and European marketplace as our target regions, for immediate and decades of solid biofuel growth. Many European facilities are planned for biomass conversions from coal &amp; diesel. The Pacific Rim region is projected to grow exponentially due to strict governmental regulations, limiting nuclear and coal power production from the Asian Pacific region.  Two bio-combustion facilities are set to grow by 400% to 1M tons within two years. Another facility plans to increase its use of wood-based fuel, from around 250,000 tons a year in 2016, to 1.2 million tons within two years.</p>
            </div>
        </div>
        <div class="div-85cp pb-70">
            <div>
                <h1 class="gwords-h1">Grain</h1>
            </div>
            <div class="div-40">
                <div class="pt-20">
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_cattle1.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="assets/home_quad/e_grain.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_chicken2.jpg">
                    </div>
                    <div class="squarebox">
                        <img class="squarebox_img" src="/assets/home_quad/e_pigs1.jpg">
                    </div>
                </div>
            </div>
            <div class="div-60">
                <p class="pt-20 mt-0 fs-16 ml-10"><b><i>COEUS</i></b> together with its strategic partners can produce a dual-purpose feedstock that can provide energy and food security, enabling economically viable expansion to the livestock, poultry and swine industries. Local feed costs are prohibitive to operate these industries, due to the increased logistical expenses. Biodiverse crops and pelletizing when applicable allow for these markets to achieve self- reliance and stabilize existing operations, where otherwise they could not.</p>
            </div>
        </div>

