<% provide(:title, 'Projects') %>
<div class="page-div projects">
   <div class="banner-img-div-500">
      <img src="/assets/banners/projects.jpg" alt="Home image:" class="banner-img">
      <h4 class="banner-text">PROJECTS</h4>
   </div>
</div>
<div>
   <div class="div-75cp pt-100">
         <div class="banner-img-div-500 project-click" id="project-hawaii-banner">
            <img class="banner-img" src="/assets/banners/hawaii5.jpg">
            <h4 class="banner-text" id="project-hawaii-h4">OMA'O MANA</h4>
         </div>
         <div id="project-hawaii-div" class="bgt">
               <div id="hawaii-text">
                    <h1>Omaʻo Mana</h1>
                    <p><b><i>COEUS</i></b> is developing a turnkey greenfield bio combustion, power generation facility. The facility will be located on the existing Hawaii Commercial &amp; Sugar lands. The proposed agronomical and industrial project was designed to qualify and assist in achieving the 100% Renewable Energy Standard (RES) objectives of Maui, the State of Hawaii, for clean, firm, sustainable energy production.</p>
                   <p>Maui energy impact:  up to 27MW of exported electricity, powering up to 36,000 households (average 537kWhr/household/mo.); providing up to 20% percent of the island’s average baseline (firm) load, displacing approximately 373,000 barrels of oil per/yr. that Maui would not need to use for producing electricity.</p>
               </div>
         </div>
      </div>
   </div>
   <div class="div-75cp pt-100 pb-80">
      <div class="banner-img-div-500 project-click">
         <img class="banner-img" src="/assets/banners/california8.jpg">
         <h4 class="banner-text">IMPERIAL PELLETS</h4>
      </div>
      <div id="california-text">
         <h1>Imperial Pellets</h1>
         <p><b><i>COEUS</i></b> is developing sustainable pelletizing facilities in the southwest. These operations are designed for scalability, increasing  production up to 1MM MT/yr., providing a quality, sustainable fuel source, generating over 150MW of renewable power.</p>
      </div>
   </div>
</div>
