<% provide(:title, 'Projects') %>
<div class="page-div projects nav-color">
   <div class="banner-img-div-500">
      <img src="/assets/banners/projects.jpg" alt="Home image:" class="banner-img">
      <h4 class="banner-text">PROJECTS</h4>
   </div>
</div>

<div class="div-75cp pt-100 pb-40">
  <div id="hawaii-project-div" class="banner-img-div-500 project-click">
    <img id="hawaii-project-img" class="banner-img" src="/assets/banners/hawaii5.jpg">
    <h4 id="hawaii-project-header" class="banner-text">OMA'O MANA</h4>
  </div>
  <h1 class="pt-30">Omaʻo Mana Biomass Generation &amp; Sorghum Grain Project</h1>
  <p><b><i>COEUS</i></b> is developing a turnkey greenfield bio combustion, power generation solution for the US Islands and Territories. The proposed agronomical and industrial project was designed to qualify and assist in achieving the 100% Renewable Energy Standard (RES) objectives of the State of Hawaii, and all other US Territories for clean, firm, sustainable energy production.</p>
  <p>A model energy impact consists of: up to 27MW of exported electricity, powering up to 36,000 households (average 537kWhr/household/mo.); providing up to 20% percent of the island’s average baseline (firm) load, displacing approximately 373,000 barrels of oil per/yr. that Maui would not need to use for producing electricity.</p>
  <p>A portion of the solid biofuel would be used for domestic conversion into renewable power and grain would be used in intra Hawaiian Islands and or Territories as a high protein feed to support domestic cattle growth. The balance of the solid biofuel production would be exported to Japan &amp; South Korea for conversion into renewable power production.</p>              
</div>

<div class="div-75cp pt-100 pb-80">
  <div class="banner-img-div-500 project-click" id="california-project-div">
    <img  id="california-project-img" class="banner-img" src="/assets/banners/california8.jpg">
    <h4 id="california-project-header" class="banner-text">IMPERIAL PELLETS</h4>
  </div>
  <h1 class="pt-30">Imperial Solid Biofuel &amp; Sorghum Grain Project
</h1>
  <p><b><i>COEUS</i></b> is developing sustainable pelletizing facilities in the southwest. These operations are designed for scalability, increasing production up to 1MM MT/yr., providing a quality, sustainable fuel source, generating over 150MW of renewable power.</p>
  <p>As a project description: 100% of the solid biofuel production would be distributed to China &amp; Vietnam for conversion into renewable power and grain would be used in intra California as a high protein feed to support domestic cattle growth.</p>
</div>

<div class="div-75cp pt-100 pb-80">
  <div class="banner-img-div-500 project-click" id="california-project-div">
    <img  id="georgia-project-img" class="banner-img" src="/assets/banners/california8.jpg">
    <h4 id="california-project-header" class="banner-text">GEORGIA PELLETS</h4>
  </div>
  <h1 class="pt-30">Georgia Pellets</h1>
  <p><b><i>COEUS</i></b> formed a partnership in the State of Georgia with <b><i>Georgia Green Energy Farms</i></b> to produce a hybrid solid biofuel product which consists of the blending of urban wood (landfill &amp; sawmill diverted residues) into a customized engineered fuel source. It is anticipated that 100% of the biofuel production will be exported to the UK and Northern EU market for conversion into renewable power and thermal energy, The Georgia grain production will be distributed intra state as a high protein cattle feed.</p>
</div>

