<% provide(:title, 'Projects') %>
<div class="page-div projects nav-color">
   <div class="banner-img-div-400">
      <img src="/assets/banners/projects2.jpg" alt="Home image:" class="banner-img">
      <h4 class="banner-text">PROJECTS</h4>
   </div>
</div>

<div class="div-75cp pt-70">
  <div id="project-div" class="banner-img-div-200 project-img">
    <img id="hidden-proj-img" class="banner-img" src="/assets/banners/hawaii-4800-960.jpg">
    <img id="appear-proj-img" class="banner-img" src="/assets/banners/hawaii-4800-1920.jpg">
    <h4 id="project-header-single" class="banner-text-double">OMA'O MANA</h4>
  </div>
  <h1 class="pt-30">Omaʻo Mana Biomass Generation &amp; Sorghum Grain Project</h1>
  <p class="team-p"><b><i>COEUS</i></b> is developing a turnkey greenfield bio combustion, power generation solution for the US Islands and Territories. The proposed agronomical and industrial project was designed to qualify and assist in achieving the 100% Renewable Energy Standard (RES) objectives of the State of Hawaii, and all other US Territories for clean, firm, sustainable energy production.</p>
  <p class="team-p">A model energy impact consists of: up to 27MW of exported electricity, powering up to 36,000 households (average 537kWhr/household/mo.); providing up to 20% percent of the island’s average baseline (firm) load, displacing approximately 373,000 barrels of oil per/yr. that Maui would not need to use for producing electricity.</p>
  <p class="team-p">A portion of the solid biofuel would be used for domestic conversion into renewable power and grain would be used in intra Hawaiian Islands and or Territories as a high protein feed to support domestic cattle growth. The balance of the solid biofuel production would be exported to Japan &amp; South Korea for conversion into renewable power production.</p>              
</div>

<div class="div-75cp pt-50">
  <div class="banner-img-div-200 project-img" id="project-div">
    <%#<img id="hidden-proj-img" class="banner-img" src="/assets/banners/california-4800-960.jpg">%>
    <img id="hidden-proj-img" class="banner-img" src="/assets/projects/ca-4000-800.jpg">
    <img id="appear-proj-img" class="banner-img" src="/assets/projects/ca-4000-800.jpg">
    <h4 id="project-header" class="banner-text-double">CALIFORNIA PELLETS</h4>
  </div>
  <h1 class="pt-30">California Solid Biofuel &amp; Sorghum Grain Project
</h1>
  <p class="team-p"><b><i>COEUS</i></b> is developing sustainable pelletizing facilities in the southwest. These operations are designed for scalability, increasing production up to 1MM MT/yr., providing a quality, sustainable fuel source, generating over 150MW of renewable power.</p>
  <p class="team-p">Bio-pellets from sorghum are both sustainable and economically competitive when compared to other U.S. and global wood-based pellet operations.  Fundamentally, pelletization allows for a larger logistical distribution radius to service co-fired biomass power producers where it is not possible to achieve a scalable production level of biomass such as other islands or island nations.  Pellets also enable restrictive regions of the US and its territories to achieve energy security by displacing 13,800 barrels of oil annually for every MW of power that local municipalities may demand.</p>
  <p class="team-p">100% of the solid biofuel production would be distributed to Asia for conversion into renewable power, with grain distributed within California as a high protein feed to support domestic cattle growth.</p>
</div>

<div class="div-75cp pt-50 pb-80">
  <div class="banner-img-div-200 project-img" id="project-div">
    <img id="hidden-proj-img" class="banner-img" src="/assets/banners/georgia-4800-960.jpg">
    <img id="appear-proj-img" class="banner-img" src="/assets/banners/georgia-4800-1920.jpg">
    <h4 id="project-header" class="banner-text-double">GEORGIA PELLETS</h4>
  </div>
  <h1 class="pt-30">Georgia Solid Biomass &amp; Sorghum Grain Project</h1>
  <p class="team-p"><b><i>COEUS</i></b> formed a partnership in the State of Georgia with <b><i>Georgia Green Energy Farms</i></b> to produce a hybrid solid biofuel product which consists of the blending of urban wood (landfill &amp; sawmill diverted residues) into a customized engineered fuel source. It is anticipated that 100% of the biofuel production will be exported to the UK and Northern EU market for conversion into renewable power and thermal energy, The Georgia grain production will be distributed intra state as a high protein cattle feed.</p>
</div>

