<% provide(:title, "Team") %>
<div class="page-div">
    <div class="banner-img-div-500">
        <%#<img src="/assets/contact.jpg" alt="Home image:" class="banner-img">%>
        <img src="/assets/banners/measurement.jpg" alt="Home image:" class="banner-img">
        <h4 class="banner-text">TEAM</h4>
    </div>
    <div class="div-90cp pt-50">
        <h1 style="text-align:center"><b><i>COEUS</i> Global</b> Integrated Companies</h1>
        <div class="div-40">
            <p class="pt-40 team-p">With over a century of combined bioenergy feedstock growing, handling, engineering, operations, maintenance, project management and finance expertise, <b><i>COEUS</i></b> has a collaborative knowledge resulting in integrating bioenergy solutions, that are economically viable and environmentally sustainable.</p>
            <p class="pt-20 team-p"><b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production. <b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production. <b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production.</p>
        </div>
        <div class="div-60">
            <img src="/assets/coeus-team/coeus-global-org-chart-800-560.png" id="org-chart">
        </div>
        <div class="clear-left div-100">
            <img src="/assets/line.png" class="line-img">
        </div>
        <div class="div-100 clear-left">
            <div class="div-30 mb-5 pt-10">
                <img src="/assets/coeus-team/energy.png" class="coeus-team-img">
            </div>
            <div>
                <p class="team-p"><b><i>COEUS</i> Energy</b> (Production) – with over four generations of successful direct oversight and management in agronomical, power and ethanol solutions, understanding the multitude of vertically integrated pieces that are required in achieving a successful closed circle operation.</p>
                <p class="team-p">Process Engineering &amp; Construction – decades of experience designing, engineering, and procurement of green and brownfield biomass power producing facilities. Our team members manage construction projects exceeding over US$2.0 billion in revenues annually, including 586MW of continuous power generation</p>
                <p class="team-p">Project Management &amp; Finance– successfully financed over $2.0 billion in project development capital</p>
                <p class="team-p">Construction, Operation &amp; Management - Has strategically partnered with a publicly traded EPC company, providing a wide range of construction, fabrication, maintenance, water and wastewater, and engineering services. They are ranked in the top 10% of the Top 400 Contractors List by Engineering News Record (ENR), having built projects throughout the United States as well as Latin America, South and Central America, and South East Asia.</p>
            </div>
        </div>
        <div class="clear-left div-100">
            <img src="/assets/line.png" class="line-img">
        </div>
        <div class="div-100">
            <div class="div-30 mb-5 pt-10">
                <img src="/assets/coeus-team/at.png" class="coeus-team-img">
            </div>
            <div>
                <p class="team-p"><b><i>COEUS</i> Agri-Tech</b> (R&amp;D/Innovation) – Texas A&amp;M and other leading universities are directly working together in research and development, focused on intelligent biodiverse solutions for viable locations COEUS has identified, providing a direct competitive advantage while mitigating economic volatility for each project location.</p>
            </div>
        </div>
        <div class="clear-left div-100">
            <img src="/assets/line.png" class="line-img">
        </div>
        <div class="div-100">
            <div class="div-30 mb-5 pt-10">
                <img src="/assets/coeus-team/log.png" class="coeus-team-img">
            </div>
            <div>
                <p class="team-p"><b><i>COEUS</i> Global Logistics</b> (Distribution) – has strategically aligned with GGEF (Global Green Energy Fuel) to design a risk mitigation system throughout the closed circle supply chain (cradle to grave). With over 5 decades of collective experience in supply chain management; global logistics and distribution; vessel chartering and operating; trucking and rail transportation; commodity trading and trade finance modeling; marine terminal operations; design a distribution and automated inventory and product quality systems to insure delivery and quality reliability to efficiently links the east coast (Georgia) with European and UK markets, with expansion from the west coast (San Diego) and Hawaii to the Pacific Rim power industries.</p>
            </div>
        </div>
        <div class="clear-left div-100">
            <img src="/assets/line.png" class="line-img">
        </div>
        <div class="div-100 mb-50">
            <div class="div-30 mb-5 pt-10">
                <img src="/assets/coeus-team/ag.png" class="coeus-team-img">
            </div>
            <div>
                <p class="team-p"><i>COEUS</i> Agronomical</b> (Crop Establishment) – experts in achieving low cost, high yield biomass feedstock utilizing organic and biological control methods; exclusive single pass stalk &amp; grain collection systems.</p>
                <p class="team-p">VERSA, an affiliate whose team of world-class agronomists, engineers and scientists have, over three decades, successfully managed and harvested biomass and sorghum throughout the Americas. They have seamlessly introduced sorghum into existing mills and boilers for producing power and ethanol.</p>
            </div>
        </div>
    </div>
</div>


