<% provide(:title, "Team") %>

<div id="team-banner" class="banner-img-div-400">
    <img src="/assets/banners/sfield2.jpg" alt="Home image:" class="banner-img">
    <h4 class="banner-text">TEAM</h4>
</div>
<div class="container">
    <div class="row justify-content-end pt-30">
        <div class="col-12 col-md-6">
            <h1 class="text-center"><b><i>COEUS</i> Global</b> Integrated Companies</h1>
        </div>
    </div>
</div>
<div class="container container-90p">
    <div class="row">
        <div class="col-12 col-md-6" id="team-1">
            <img src="/assets/coeus-team/coeus-global-org-chart-800-560.png" id="org-chart">
        </div>
        <div class="col-12 col-md-6" id="team-2">
            <h2><b><i>COEUS</i></b> Global</h2>
            <p class="pt-20 fs-15 p-space-150">With over a century of combined bioenergy feedstock growing, handling, engineering, operations, maintenance, project management and finance expertise, <b><i>COEUS</i></b> has a collaborative knowledge resulting in integrating bioenergy solutions, that are economically viable and environmentally sustainable.</p>
            <p class="pt-20 fs-15"><b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production. <b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production. <b><i>COEUS</i> Global</b> has focused on providing a vertically integration solution in firm renewable energy production.</p>
        </div>
    </div>
</div>

<div class="div-85cp clear-left pt-60">
    <h2 class="bt pt-25 pb-20"><b><i>COEUS</i></b> Energy</h2>
    <div class="div-30 mb-5 pt-10" id="team-logo-div">
        <img src="/assets/coeus-team/energy.png" class="coeus-team-img">
    </div>
    <div>
        <p class="p-space-150 fs-15"><b><i>COEUS</i> Energy</b> (Production) – with over four generations of successful direct oversight and management in agronomical, power and ethanol solutions, understanding the multitude of vertically integrated pieces that are required in achieving a successful closed circle operation.</p>
        <p class="fs-15"><b>Process Engineering &amp; Construction</b> – decades of experience designing, engineering, and procurement of green and brownfield biomass power producing facilities. Our team members manage construction projects exceeding over US$2.0 billion in revenues annually, including 586MW of continuous power generation.</p>
        <p class="fs-15"><b>Project Management &amp; Finance</b> – successfully financed over $2.0 billion in project development capital.</p>
        <p class="fs-15"><b>Construction, Operation &amp; Management</b> - Has strategically partnered with a publicly traded EPC company, providing a wide range of construction, fabrication, maintenance, water and wastewater, and engineering services. They are ranked in the top 10% of the Top 400 Contractors List by Engineering News Record (ENR), having built projects throughout the United States as well as Latin America, South and Central America, and South East Asia.</p>
    </div>
</div>

<div class="div-85cp clear-left pt-60">
<h2 class="bt pt-25 pb-20"><b><i>COEUS</i></b> Agri-Tech</h2>
    <div class="div-30 mb-5 pt-10" id="team-logo-div">
        <img src="/assets/coeus-team/at.png" class="coeus-team-img">
    </div>
    <div>
        <p class="fs-15"><b><i>COEUS</i> Agri-Tech</b> (R&amp;D/Innovation) – Texas A&amp;M and other leading universities are directly working together in research and development, focused on intelligent biodiverse solutions for viable locations COEUS has identified, providing a direct competitive advantage while mitigating economic volatility for each project location.</p>
        <p class="fs-15"><b>Texas A&amp;M University at College Station - Biodiverse Seed Breeding R&amp;D Program </b>- A leader in sorghum germplasm development, TAMU AgriLife Research is a premier research and technology development agency in agriculture, natural resources, and the life sciences. For the last 3 years, COEUS has been be working with Dr. William Rooney’s (Professor in Dept. of Soil and Crop Sciences) research team developing biodiverse hybrids that target specific geographic regions including Hawaii. Immediate gains are realized from past research results of Professor Rooney’s team, as they will not have to start at ground zero in breeding for this Hawaii project. There are some lines of seeds that are available to be commercialized today which we will utilize in Hawaii. There are others that are on the cusp of commercialization, and some starting in development that are designed specifically for our geographic region and will be an improvement of current seed productivity.  Dr. Rooney has released three Sorghum Germplasm through TAMU AgriLife Research Group and holds four patents involving sorghum genetics and research techniques. Our continued R&amp;D with TAMU AgriLife will secure COEUS on the forefront of sorghum cultivar development and will focus resources on developing and breeding the seeds in the areas where they will be utilized, promising significantly higher yielding seeds than what is commercially available.</p>
</p>
    </div>
</div>

<div class="div-85cp clear-left pt-60">
    <h2 class="bt pt-25 pb-20"><b><i>COEUS</i></b> Global Logistics</h2>
    <div class="div-30 mb-5 pt-10" id="team-logo-div">
        <img src="/assets/coeus-team/log.png" class="coeus-team-img">
    </div>
    <div>
        <p class="fs-15"><b><i>COEUS</i> Global Logistics</b> (Distribution) – has strategically aligned with GGEF (Global Green Energy Fuel) to design a risk mitigation system throughout the closed circle supply chain (cradle to grave). With over 5 decades of collective experience in supply chain management; global logistics and distribution; vessel chartering and operating; trucking and rail transportation; commodity trading and trade finance modeling; marine terminal operations; design a distribution and automated inventory and product quality systems to insure delivery and quality reliability to efficiently links the east coast (Georgia) with European and UK markets, with expansion from the west coast (San Diego) and Hawaii to the Pacific Rim power industries.</p>
    </div>
</div>

<div class="div-85cp clear-left pt-60 pb-50">
 <h2 class="bt pt-25 pb-20"><b><i>COEUS</i></b> Agronomical</h2>
    <div class="div-30 mb-5 pt-10" id="team-logo-div">
        <img src="/assets/coeus-team/ag.png" class="coeus-team-img">
    </div>
    <div>
        <p class="fs-15"><i>COEUS</i> Agronomical</b> (Crop Establishment) – experts in achieving low cost, high yield biomass feedstock utilizing organic and biological control methods; exclusive single pass stalk &amp; grain collection systems.</p>
        <p class="fs-15">Our intelligent solutions focus mainly around sorghum, a sustainable drought resistant grass in the sugarcane family. Our production methods create a product free from contaminants associated with pellets derived from waste or other residues. We continue to invest in research, developing proprietary methods focused on less harm to the local environment than currently practiced protocols, increasing the availability of sustainable biomass to power generation, helping eliminate further contributions to climate change. </p>
        <p class="fs-15">VERSA, an affiliate whose team of world-class agronomists, engineers and scientists have, over three decades, successfully managed and harvested biomass and sorghum throughout the Americas. They have seamlessly introduced sorghum into existing mills and boilers for producing power and ethanol.</p>
    </div>
</div>
