<% provide(:title, "Team") %>
<div class="page-div">
    <div class="banner-img-div-500">
        <%#<img src="/assets/contact.jpg" alt="Home image:" class="banner-img">%>
        <img src="/assets/banners/measurement.jpg" alt="Home image:" class="banner-img">
        <h4 class="banner-text">TEAM</h4>
    </div>
    <div class="div-85cp pt-50">
        <p class="mpb-0">With over a century of combined bioenergy feedstock growing, handling, engineering, operations, maintenance, project management and finance expertise, <b><i>COEUS</i></b> has a collaborative knowledge resulting in integrating bioenergy solutions, that are economically viable and environmentally sustainable.</p>
        <h1 class="mb-20 mt-60" style="text-align:center"><b><i>COEUS</i></b> Global Integrated Companies</h1>
        <img src="/assets/coeus-global-org-chart-small.png" id="org-chart">

        <ul class="page-ul open-sans pt-60">
              <li class="page-li-none"><b><i>COEUS</i> Global</b></li></br>
              <li class="page-li-none"><b><i>COEUS</i> Agronomical</b> (Crop Establishment) – experts in achieving low cost, high yield biomass feedstock utilizing organic and biological control methods; exclusive single pass stalk &amp; grain collection systems.</li></br>
                  <ul class="div-70cp">
                      <li class="page-li-disc">VERSA an affiliate whose team of world-class agronomists, engineers and scientists have, over three decades, successfully managed and harvested biomass and sorghum throughout the Americas. They have seamlessly introduced sorghum into existing mills and boilers for producing power and ethanol.</li></br>
                  </ul>
            <li class="page-li-none"><b><i>COEUS</i> Energy</b> (Production) – with over four generations of successful direct oversight and management in agronomical, power and ethanol solutions, understanding the multitude of vertically integrated pieces that are required in achieving a successful closed circle operation</li></br>
                <ul class="div-70cp">
                    <li class="page-li-disc">Process Engineering &amp; Construction – decades of experience designing, engineering, and procurement of green and brownfield biomass power producing facilities. Our team members manage construction projects exceeding over US$2.0 billion in revenues annually, including 586MW of continuous power generation</li></br>
                    <li class="page-li-disc">Project Management &amp; Finance– successfully financed over $2.0 billion in project development capital</li></br>
                    <li class="page-li-disc">Construction, Operation &amp; Management - Has strategically partnered with a publicly traded EPC company, providing a wide range of construction, fabrication, maintenance, water and wastewater, and engineering services. They are ranked in the top 10% of the Top 400 Contractors List by Engineering News Record (ENR), having built projects throughout the United States as well as Latin America, South and Central America, and South East Asia.</li></br>
                </ul>
            <li class="page-li-none"><b><i>COEUS</i> Agri-Tech</b> (R&amp;D/Innovation) – Texas A&amp;M and other leading universities are directly working together in research and development, focused on intelligent biodiverse solutions for viable locations COEUS has identified, providing a direct competitive advantage while mitigating economic volatility for each project location.</li></br>
            <li class="page-li"></li></br>
            <li class="page-li"></li></br>
        </ul>
        <div>
          <div class="div-30 mr-5 mb-5">
              <img src="/assets/coeus-log.png" id="coeus-log">
          </div>
          <div class="">
              <p class="mb-30"><b><i>COEUS</i> Global Logistics</b> (Distribution) – has strategically aligned with GGEF (Global Green Energy Fuel) to design a risk mitigation system throughout the closed circle supply chain (cradle to grave). With over 5 decades of collective experience in supply chain management; global logistics and distribution; vessel chartering and operating; trucking and rail transportation; commodity trading and trade finance modeling; marine terminal operations; design a distribution and automated inventory and product quality systems to insure delivery and quality reliability to efficiently links the east coast (Georgia) with European and UK markets, with expansion from the west coast (San Diego) and Hawaii to the Pacific Rim power industries.</p></br>
            </div>
        </div>
    </div>
</div>


