<% provide(:title, "Log in") %>
<div class="container pb-40" id="login-container">
    <div class="row no gutters">
        <div class="col-12" id="login_background">
            <div class="row justify-content-center bgt">
                <div class="col-7 mt-70 mb-150" id="login-div-gray">
                    <h1 id="login-h1" class="ft-34 form-label bgt pt-10 mb-0"><b><i>COEUS</i></b> Portal</h1>
                    <h1 class="bgt">Investor/Partner Login</h1>
                    <form>
                        <div id="bg-transparent" class="form-group">
                            <label id="bg-transparent" for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div id="bg-transparent" class="form-group">
                            <label id="bg-transparent" for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <button id="btn-black" type="submit" class="btn btn-primary  pb-25" style="float:right">Login</button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
<%#
<footer class="div-97cp bgcolor-b pt-20">
   <div class="bgcolor-b">
        <p class="ftr ftr-txt pt-10 mboth-0"><i>COEUS</i> Energy, LLC</p>
        <p class="ftr ftr-txt-sm mboth-0">2017 &#169; All rights reserved.</p>
   </div>
</footer>
%>
