<% provide(:title, "Log in") %>
<div class="banner-img-div-600">
    <img src="/assets/investor.jpg" alt="Investor image:" class="banner-img">
    <div class="login-gray-translucent mt-150">
        <div class="div-95cp" id="loginbox2div">
            <h1 class="ft-34 form-label"><b><i>COEUS</i></b> Portal</h1>
            <div class="div-95cp loginbox pb-10">
            <h1 class="bgt pb-20">Investor/Partner Login</h1>
            <form>
                <div id="bg-transparent" class="form-group">
                    <label id="bg-transparent" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div id="bg-transparent" class="form-group">
                    <label id="bg-transparent" for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                </div>
                <button id="btn-black" type="submit" class="btn btn-primary pb-50" style="float:right">Login</button>
            </form>
            </div>
        </div>
    </div>
<div>
