<footer class="div-90cp bgcolor-b pb-30">
   <div class="div-90cp bgcolor-b">
        <p class="ftr ftr-txt"><i>COEUS</i> Development, LLC</p>
        <p class="ftr ftr-txt-sm">2017 &#169; All rights reserved.</p>
   </div>
</footer>
