<footer class="div-97cp bgcolor-b pb-20">
   <div class="bgcolor-b">
        <p class="ftr ftr-txt pt-10 mboth-0"><i>COEUS</i> Energy, LLC</p>
        <p class="ftr ftr-txt-sm mboth-0">2017 &#169; All rights reserved.</p>
   </div>
</footer>
